body {
  margin: 0;
  font-family: Source Serif Pro, Semibold;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 30px;
  color: white;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
  margin-left: 145px;
  font-family: sans-serif;
}

header .logo img {
  display: block;
  width: 30%;
  height: auto;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: -377px;
  font-family: sans-serif;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

header .cart-icon {
  font-size: 24px;
}

.hero {
  background-color: #6c757d40;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-category-page {
  background-color: #041320;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: -446px;
}

.hero-text {
  width: 50%;
  margin-bottom: 472px;
  margin-left: -34px;
}

.hero-text-category-page {
  width: 50%;
  margin-bottom: 472px;
  margin-left: -34px;
}

.hero-text h1 {
  margin: 0 0 20px;
  font-family: sans-serif;
  font-weight: 600;
}

.hero-text-category-page h1 {
  margin: 0 0 20px;
  font-family: sans-serif;
  font-weight: 600;
  color: white;
}

.hero-text p {
  margin: 0 0 30px;
  color: black;
  font-family: sans-serif;
}

.hero-text-category-page p {
  margin: 0 0 30px;
  color: black;
  font-family: sans-serif;
}

.hero .button_hero {
  background-color: #007bff;
  color: white;
  padding: 10px 67px;
  text-decoration: none;
  border-radius: 7px;
  font-family: sans-serif;
}

.hero-image {
  width: 50%;
  margin-top: -250px;
  text-align: right;
  @include media('>=760px') {
    width: 80%
  }
}

.hero-image-category-page {
  width: 50%;
  text-align: right;
  margin-top: -50px;
}

.cropped-image {
  width: 135%;
  height: auto;
  clip-path: inset(0 0 50% 0);
  object-fit: cover;
}

.cropped-image-category-page {
  width: 135%;
  height: auto;
  clip-path: inset(0 0 58.5% 0);
  object-fit: cover;
  margin-top: -147px;
  margin-right: 3px;
}

.categories {
  display: flex;
  justify-content: space-around;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: -10px;
}

.category {
  position: relative;
  width: 20%;
  margin: -22px;
  margin: 0;
  padding: 0;
  flex: 1;
  max-width: 24%;
  box-sizing: border-box;
}

.category img {
  width: 100%;
    height: 100%;
    object-fit: cover;
}

.category .overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.feature {
  display: flex;
  align-items: center;
  padding: 50px;
  margin-left: 150px;
  margin-right: 150px;
}

.feature-text {
  width: 68%;
  padding-right: 65px;
  margin-bottom: 354px;
  margin-left: 9px;
}

.feature-text h2 {
  margin: 0 0 20px;
  font-size: xxx-large;
}

.feature-text p {
  margin: 0 0 30px;
  color: #6c757d;
  width: 90%;
  color: black;
}

.feature-sub-heading {
  color: black !important;
  font-weight: 600;
  font-family: serif;
}

.feature .button1 {
  color: #007bff;
  padding: 8px 15px;
  text-decoration: none;
  margin-right: 10px;
  border: 2px solid #007bff;
  border-radius: 8px;
  font-family: sans-serif;
}

.feature .button2 {
  background-color: #007bff;
  color: white;
  padding: 10px 50px;
  text-decoration: none;
  border-radius: 8px;
  margin-right: 10px;
  border: 2px solid;
  font-family: sans-serif;
}

.feature-image {
  width: 55%;
}

.feature-image img {
  border-radius: 10px;
  width: 135%;
  height: auto;
  clip-path: inset(0 0 50% 0);
  object-fit: cover;
  margin-left: -70px;
}

.adventure {
  position: relative;
  width: 80%;
  margin-top: -312px;
  padding: 0 50px;
  padding-bottom: 36px;
}

.adventure-image {
  width: 62%;
  margin-left: 24px;
}

.adventure img {
  width: 100%;
  margin-left: 50px;
  padding: 16px;
}

.adventure-section-text {
  position: absolute;
  top: 0;
  bottom: 20px;
  left: -114px;
  background: #0d1f32;
  color: white;
  padding: 151px;
  border-radius: 5px;
  margin-left: 662px;
}

.adventure-section-text h2 {
  margin: 0 0 10px;
  font-size: 30px;
}

.shop-devices {
  color: white;
  border: 2px solid white;
  background-color: transparent;
  padding: 5px 17px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  margin-right: 130px;
  width: 100px;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background-color: #f8f9fa;
  font-family: sans-serif;
}

.footer-links div {
  width: 20%;
}

.footer-links h3 {
  margin-bottom: 20px;
}

.footer-links p {
  color: #888f97;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links ul li a {
  text-decoration: none;
  color: #888f97;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #e9ecef;
}

.footer-logo {
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 85px;
  display: block;
  width: 8%;
  height: auto;
}

.footer-info {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
  justify-content: space-between;
  font-family: sans-serif;
}

.footer-info p {
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

.footer-info ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 10px 0 0;
  gap: 15px;
  text-decoration: underline;
}

.footer-info ul li {
  margin-left: 10px;
}

.footer-info ul li a {
  text-decoration: none;
  color: #52565c;
}

.social-media img {
  margin-right: 10px;
}

.social-media img:last-child {
  margin-right: 0;
}

.text-with-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.text-with-icon .icon {
  width: 20px;
  height: auto;
  flex-shrink: 0;
  margin-right: 10px;
}

/* Product Category Specific Styles */
.main-content {
  display: flex;
  padding: 20px 50px;
}

.filters-container {
  width: 20%;
  text-align: center;
}

.filters {
  padding-right: 20px;
  text-align: left;
}

.filters h2 {
  font-size: 24px;
}

.filters ul {
  list-style: none;
  padding: 0;
}

.filters ul li {
  margin: 10px 0;
}

.product-list {
  width: 80%;
  margin-top: 10px;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.product-header h2 {
  font-size: 20px;
  margin: 0;
}

.product-header select {
  padding: 5px;
  font-size: 16px;
  width: 20%;
  margin-right: 20px;
  border-radius: 6px;
  border: 2px solid #ddd;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product {
  width: calc(25% - 20px);
  box-sizing: border-box;
  text-align: center;
}

.product img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product h3 {
  font-size: 18px;
  margin: 10px 0 5px;
}

.product p {
  font-size: 16px;
  color: #757575;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination span {
  margin: 0 5px;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.heart-icon {
  width: 8% !important;
}

.gray-line {
  border-top: 2px solid gray;
  height: 1px;
  width: 100%;
}

.product a {
  text-decoration: none;
  color: inherit;
}

.product a img {
  display: block;
}

.filters-container p {
  font-size: 16px;
  margin-bottom: 20px;
}

.categories-p {
  font-weight: bold;
}

.breadcrumb {
  text-align: left;
}

.outerwear {
  color: grey;
}

.go-left {
  position: absolute;
}

.go-left-img {
  position: relative;
  margin-left: -579px;
  width: 20px;
  margin-bottom: 23px;
}
